*{
  margin: 0%;
  background-color: #101010; 
  color: white;
}


nav{
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  list-style: none;
}

#movies,#people, #planets,#my-list{
  font-family: 'Heebo', sans-serif;
}

.nav-links{
  font-weight: 600;
  height: 40px;
  margin: 2em 4em;
  display: flex;
  align-items: right;
  justify-content: left;
  justify-content: space-between;
  list-style: none;
}


.star-wars{
margin: 0 25em 0 0;
}

nav ul li:nth-child(5){
  margin-right: 1em;
}

nav ul li.star-wars a{
  text-decoration: none;
  
}
.homepage{
 display: flex;
}

.description{
margin-left: 2%;
margin-top: 10%;
}